:root {
  --text-color: #1A237E;
}

body {
  background-image: url('./images/background.png');
  font-family: 'Lobster', cursive;
}

.mainContent {
  margin-top: 10%;
}

.form {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 50%;
  background-color: rgba(227, 242, 253, 0.2);
  border-radius: 10%;
}

.toolbar {
  color: #1A237E;
  background-image: url('./images/NavBar.png');
}

.cards {
  margin: 20px;
  width: 250px;
  height: 400px;
  border-radius: 20px;
  text-align: center;
  vertical-align: middle;
  border-color: var(--text-color);
  border-style: solid;
  border-width: medium;
  box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .3);
}

.cards:active {
  transform: rotateY(540deg);
}

.cards_initial {
  background-image: url('./images/back_of_the_card.jpg');
  background-position: center;
  background-size: cover;
}

.cards_flipped {
  background-image: linear-gradient(to bottom right, #1565C0, #7C4DFF);
  background-position: center;
  background-size: cover;
}

.result {
  transform: translate(0, 40%);
}

.cardName {
  margin-top: 40px;
  text-align: left;
  color: var(--text-color);
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.3);
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-transform: uppercase;
}

.profile_info {
  background-color: rgba(0, 0, 0, 0.1);
  width: 70%;
  height: 10%;
}

.profileImg {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}
